* {
	margin: 0;
	padding: 0;
}
a {
	color: black;
	text-decoration: none;
}
body {
    font-family: 'Khula', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
}

.button {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
ul {
	list-style: none;
}
#first, #second, #third, #forth, #fifth {
	width: 100%;
	height: 100vh;
}

#first {
	background-color: pink;
	position: relative;
	// display: flex;
	// flex-direction: row;
	// justify-content: center;
	// align-content: center;
}
#first .inner {
	width: 90%;
	height: 90%;
	background-color: lightblue;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
}
#first .inner p {
		text-align: center;
		font-size: 16px;
    	font-weight: 200;
	}
#guide {
	z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: lightgray;
    opacity: 0.3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#guide-left, #guide-right {
	display: flex;
	height: 100px;
	width: 60px;
}
#first #to_second_out, #first #to_third_out {
	transition: all .4s ease;
	// align-content: center;
 //    justify-content: center;
 //    display: flex;
 //    flex-direction: column;
	// width: 30px;
	// height: 100px;
	display: inline-block;
}
#first #to_second_out img, #first #to_third_out img {
	width: 30px;
	height: 100px;
}
// #second-a:hover {
// 	transform: translateY(15px);
// }
#first #to_second_out:hover,  #first #to_third_out:hover {
	transform: translateY(-15px);
}
#first #to_second_in, #first #to_third_in {
	transition: all .4s ease;
	// align-content: center;
 //    justify-content: center;
 //    display: flex;
 //    flex-direction: column;
 //    width: 30px;
	// height: 100px;
	display: inline-block;
}
#first #to_second_in img, #first #to_third_in img {
	width: 30px;
	height: 100px;
}
#first #to_second_in:hover, #first #to_third_in:hover {
	transform: translateY(15px);
}

#second {
	background-color: lightpink;
}
#second .inner {
	width: 90%;
	height: 90%;
	background-color: lightblue;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
}
#second .inner #secondLeftUl {
    width: 20%;
    height: auto;
    margin: auto 5%;
    display: inline-block;
    transition: all .4s ease;
}
#second .inner #secondLeftUl li {
	transition: all .4s ease;
	cursor: pointer;
}
#second .inner #secondLeftUl #ngm p {
	position: relative;
}
// #second .inner ul #ngm p::before {
// 	transition: all .4s ease;
// 	content: "";
// 	background-color: orange;
// 	width: 100%;
// 	height: 1rem;
// 	display: none;
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// }
// #second .inner ul li p::after {
// 	transition: all .4s ease;
// 	content: "";
// 	background-color: orange;
// 	width: 100%;
// 	height: 1rem;
// 	display: none;
// 	position: absolute;
// 	top: 0.5rem;
// 	left: 0;
// }
#second .inner #secondLeftUl li:hover {
	color: white;
	// background-color: black;
}
#second .inner #secondLeftUl li p:hover:before {
	transition: all .4s ease;
	content: "";
	background-color: black;
	width: 100%;
	height: 1rem;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.3;
}
#second .inner #secondLeftUl li p:hover:after {
	transition: all .4s ease;
	content: "";
	background-color: black;
	width: 100%;
	height: 1rem;
	display: block;
	position: absolute;
	top: 1rem;
	left: 0;
}
#second .inner #details {
	width: 50%;
    height: 90%;
	background-color: lightyellow;
	margin: auto 10%;
    display: inline-block;
}
#second .inner #details ul li {
	display: none;
}
#second .inner #details ul li .pf-image {
	text-align: center;
	width: 100%;
	height: auto;
}
#second .inner #details ul li .pf-desc {
	padding: 20px;
}
#ngm-details img, #wyo-details img, #lbot-details img {
	width: 100%;
	height: auto;
}

#third {
	background-color: deeppink;
}
#third .inner section .self-intro, #forth .inner section .philosophy {
	width: 40%;
    display: inline-block;
    margin: 20vh 0 0 5vw;
}
#third .inner section .self-intro .name {
	margin-bottom: 20vh;
}
#forth {
	background-color: lightpink;
}
#fifth .inner section .contact {
	width: 90%;
    display: inline-block;
    margin: 20vh 0 0 5vw;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
#fifth .inner section .contact div #contact-icons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	padding: 30px;
}
#fifth .inner section .contact div #contact-icons img {
	width: 30px;
	height: 30px;
	padding: 0 10px;
}
#fifth .inner section .contact h1 {
	display: inline-block;
}

// CLASS FOR FUNCTIONS
.hide {
	display: none;
}